#edit-nav {
    background-color: #000000;
    color: #FFFFFF;
    height: 59px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;;
        top: 0;
        left: 0;
        right: 0;
}

#edit-nav button {
    background-color: #FFFFFF;
    border-radius: 60px;
    border: none;
    padding: 10px;
    width: 200px;
}

.edit-mode {
    display: flex;
    align-items: center;
    margin-right: 21px;
}
.edit-mode img {
    margin-right: 12px;
}
#portfolio .edit-mode {
    justify-content: center;
    align-items: center;
    
}
#portfolio .edit-mode img {
    justify-content: center;
    
}


#content {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    margin-top: 100px;
}

body {
    max-width: none;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}